<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="loading-modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">asdf</h4>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
          aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        Loading... <i class="fa fa-cog fa-spin"></i>
      </div>
    </div>
  </div>
</div>